:root{
    --primary:#355070;
    --bgSecondary:#eaac8b;
    --dark:#000;
    --ligth:#fff;
    --bgp1:#E56B6F
    /*
    6d597a
    b56576
    e56b6f
    
    */
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}

.navbar{
    min-height: 90px;
}

.navbar .btn{
    padding: .625rem 1.25rem;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-color-p1{
    background-color: var(--bgp1) !important;
    border: 2px solid #ffffff;
}

.text-primary{
    color:var(--primary) !important;
}

.bg-section-1{
    background-image:url('/assets/images/bg33.svg')
}

.bg-section-2{
    background-image:url('/assets/images/bg66.svg');
    background-repeat: no-repeat;background-size: cover;
}

section{
    /* height: 900px; */
    height: 100vh;
}

.content{
    max-width: 75%;
}

.list-subject{
    position: relative;
    display: flex;
    justify-content: center;
}

.list-subject::after{
    content: '';
    border-right: 1px solid var(--dark);
    height: 60px;
    position: absolute;
    top:35px;
    opacity:.2
}

.bg-header{
    background-color: var(--bgSecondary);
    /* height: 100vh; */
}

.info-content{
    border-radius: 35px;    
}

.info-content .btn{
    padding: .625rem 1.25rem;
}

.publications img{
    height: 80%;
    max-width: 100%;
    border-radius: 30px;
}

.my-form{
    max-width: 450px;
}

.my-form .form-control{
    min-height: 80px;
}

.my-form .btn{
    top:12px;
    right: 10px;
    min-height: 55px;
}

.section-600{
    height: 600px !important;
}

.mt-m5{
    margin-top: 5rem!important;
}

@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
    
    .p-container-m {
        padding-top: 150px;
    }
    
}

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    section{
        height: unset;
    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 25%;
    }
    
    html, body {
        overflow-x:hidden 
    } 
    .bg-section-1{
        background-image:initial
    }
    .bg-section-2{
        background-image:initial;
        background-repeat:initial;
    }
}

